.login{
    background-color: #fff;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login_internal{
	width:300px;
	height:300px;
	margin:75px 100px;
}

.login_return_message{
	font-size: 30px;
	margin: 15px 60px;
}