*{
	margin:0;
	padding:0;
}

.login{
    background-color: #fff;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login_internal{
	width:300px;
	height:300px;
	margin:75px 100px;
}

.login_label{
	width: 300px;
	font-size:17px;
	margin-top: 20px;
	text-align: center;
}