*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

.div_button{
	margin-left: 65%;
}

.div_table{
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.div_table table{
	margin: 10px auto;
	width: 80%;
}

.div_table table tr th{
	text-align: center;
}